<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SampleReport" />
        <binding name="TargetReport" />
        <binding name="VHP" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--本地测试-->
      <endpoint address="http://localhost:8001/SampleReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="SampleReport"
          contract="ServiceReferenceSampleReport.ISampleReportService"
          name="SampleReport" />
      <endpoint address="http://xs-laptop:8001/TargetReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="TargetReport"
          contract="ServiceReferenceTargetReport.ITargetReportService"
          name="TargetReport" />
      <endpoint address="http://localhost:8001/VHPService.svc" binding="basicHttpBinding"
          bindingConfiguration="VHP" contract="ServiceReferenceVHP.IVHPService"
          name="VHP" />
      <!--生产服务器-->
      <!--<endpoint address="http://192.168.16.254:8001/SampleReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="SampleReport"
          contract="ServiceReferenceSampleReport.ISampleReportService"
          name="SampleReport" />
      <endpoint address="http://192.168.16.254:8001/TargetReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="TargetReport"
          contract="ServiceReferenceTargetReport.ITargetReportService"
          name="TargetReport" />
      <endpoint address="http://192.168.16.254:8001/VHPService.svc" binding="basicHttpBinding"
          bindingConfiguration="VHP" contract="ServiceReferenceVHP.IVHPService"
          name="VHP" />-->
    </client>
  </system.serviceModel>
</configuration>