<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SampleReport" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3622/SampleReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="SampleReport"
                contract="ServiceReferenceSampleReport.ISampleReportService"
                name="SampleReport" />
        </client>
    </system.serviceModel>
</configuration>