<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="productsystem" connectionString="Server=(local);DataBase=Products;Integrated Security=sspi" providerName="System.Data.SqlClient"/>
    <add name="DBNew" connectionString="data source=(local);initial catalog=dbnew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="meta" name="WcfReportService.TargetReportService">
        <endpoint address="" binding="basicHttpBinding"
          name="TargetReport" contract="WcfReportService.ITargetReportService" />
      </service>
      <service behaviorConfiguration="meta" name="WcfReportService.SampleReportService">
        <endpoint binding="basicHttpBinding"
          name="SampleReport" contract="WcfReportService.ISampleReportService" />
      </service>
      <service behaviorConfiguration="meta" name="WcfReportService.VHPService">
        <endpoint binding="basicHttpBinding"
          name="VHP" contract="WcfReportService.IVHPService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetEnabled="true" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="8001" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
